
# ========================================
# Instance
# ========================================

# Base HTTP port for instances (default 10000)
# 1. instance = BASE_PORT
# 2. instance = BASE_PORT+1
# BASE_PORT=10000

# ========================================
# My Repository URLs
# ========================================

REPO_SOURCE_ZNUNY=GIT-URL/Znuny.git
REPO_SOURCE_FRED=GIT-URL/Fred.git
REPO_SOURCE_MODULE_TOOLS=GIT-URL/module-tools.git
REPO_SOURCE_CODE_POLICY=GIT-URL/ZnunyCodePolicy.git
